
body {
  padding-top: 50px;
}
.content {
  padding: 40px 15px;
  text-align: center;
}

.orders-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.orders-enter.orders-enter-active {
  opacity: 1;
}

.orders-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.orders-leave.orders-leave-active {
  opacity: 0.01;
}
